@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Work+Sans&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');

/* Vars */

:root {
  --prim-color: #222C5F;
  --sec-color: #9AB044;
  --tert-color: #1C57CB;
  --sec-gray:rgb(75, 75, 75);
  --sec-dark-blue:#161c41;
  --bg-color: #8DC4FC;
  --card-bg: #EFEDFF;
}

/* Global Styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

body{
  /*background-color: var(--bg-color);*/
  background-image: linear-gradient(to right, #ccfffc, #b8f6fb, #a6ecfc, #97e1fd, #8ed5fe, #8ed5fe, #8ed5fe, #8ed5fe, #97e1fd, #a6ecfc, #b8f6fb, #ccfffc);
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

.button-primary {
  font-family: 'Roboto Mono', sans-serif;
  display: inline-block;
  background-color: var(--sec-color);
  color: white;
  font-size: 2rem;
  padding: .5rem 1.5rem;
  border-radius: 0.5rem 1.5rem;
  font-weight: 550;
}

.button-primary:hover {
  filter: brightness(108%);
  transform: scale(105%);
}

.buttons .button-primary.outline {
	background-color: transparent;
	border: 2px solid var(--sec-color);
	color: var(--sec-color);
  padding: calc(.5rem - 2px) calc(1.5rem - 2px);
}

.buttons .button-primary.outline:hover {
  transform: scale(105%);
  filter: brightness(80%);
}

.buttons{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons svg {
  width: 4rem;
}


.section-heading {
  font-size: clamp(3rem, -0.875rem + 8.333vw, 8rem);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
  z-index: 1;
}

.section-heading::before{
  content: attr(data-content);
  position: absolute;
  left: -2%;
  top: -20%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgba(128, 128, 128, 0.473);
  z-index: -1;
}

.text-card {
  border-radius: 1rem;
  background-color: var(--card-bg);
  box-shadow: 0 0 20px #00000028;
}


/* Nav Section */
#nav-symbol{
  position: fixed;
  right: 4rem;
  top: 2rem;
  height: auto;
  z-index: 100;
}
#nav-symbol .icon{
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  background-color: var(--sec-color);
  color: white;
  border-radius: .7rem;
  border-style: outset;
  border-color:var(--sec-color);
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-symbol .icon:hover{
  transform: scale(105%)
}

#nav-symbol .icon svg{
  width: 90%;
}



#nav-content {
  position: fixed;
  right: 0;
  width: 80%;
  height: 100%;
  max-width: 800px;
  z-index: 100;
  background-color:var(--sec-dark-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateX(105%);
  transition: 0.5s ease transform;
}

#nav-content.unfold{
  transform: translateX(0%);
}

#nav-content .section-heading{
  text-align: left;
}

#nav-content .section-heading::before{
  -webkit-text-stroke: 1.5px whitesmoke;
  text-align: left;
}

#nav-content .wrapper{
  width: 70%;
  position: relative;
}

#nav-content ul{
  list-style: none;
  text-align: left;
}

#nav-content ul li{
  margin-bottom: 2rem;
}


#nav-content ul li a{
  display: inline-block;
  color: white;
  width: 100%;
  font-size: 5rem;
  font-family: Montserrat, sans-serif;
}

#nav-content ul li a::after {
  content: attr(data-content);
  pointer-events: none;
  position: absolute;
  right: -150px;
  bottom: 40%;
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1.5px #afadad25;
  opacity: 0;
  z-index: -1;
  text-align: center;
  transform: rotate(90deg) scale(3);
  transition: .2s ease;
  transition-property: opacity, transform;
}

#nav-content ul li a:hover::after{
  opacity: 1;
  transform: scale(3) translateY(10px) rotate(90deg);
}

#nav-content .close-btn{
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: .3s ease color;
}

#nav-content .close-btn:hover{
  color: crimson;
}

@media only screen and (max-width: 768px) {
  #nav-symbol {
    right: 2rem;
    top: 1rem;
  }

  #nav-symbol .icon{
    width: 6rem;
    height: 6rem;
  }

  #nav-content ul li a::after{
    display: none;
  }

  #nav-content .section-heading {
    text-align: right;
    margin-bottom: 4rem;
  }

  #nav-content .section-heading::before {
    display: none;
  }

  #nav-content nav ul{
    text-align: right;
  }

  #nav-content ul li a {
    font-size: 4rem;
  }

  #nav-content .wrapper {
    width: 80%;
  }
}

/* Hero Section */

#hero {
  height: 100vh;
  width: 100%;
  padding-top: 7rem;
}

#hero .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#hero .container .top{
  flex: 8;
}
#hero .container .bottom{
  flex: 6;
}

#hero .bottom .flavortext {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--tert-color);
  margin: 2rem;
  padding: 1rem;
}

#hero .bottom .flavortext .flavor-cursor{
  color: black;
  display:inline-block;
  font-weight: 100;
  transform: scaleY(170%) translateY(-1px);
  font-family: serif;
  animation: cursor-blink 1s steps(1, end) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#hero .bottom .heading {
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: var(--prim-color);
  margin: 1.5rem;
}

#hero .bottom .heading .wrapper {
  display: inline-block;
  overflow: hidden;
}

#hero .bottom .heading .wrapper span {
  position: relative;
  bottom: -70px;
  animation: fly-up 1s ease-in-out forwards;
}

@keyframes fly-up {
  0%{
    bottom: -70px;
    opacity: 0;
  }
  100%{
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes appear {
  0%{
    opacity: 0
  }  
  100%{
    opacity: 1
  }
}

#hero .bottom .intro {
  margin-top: 2rem;
  max-width: 400px;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--tert-color);
  text-align: center;
  margin: auto;
  animation: appear 1s ease-in-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

#hero .top img {
  border-radius: 50%;
  border-style: solid;
  border-width: 1rem;
  border-color: var(--prim-color);
  width: 100%;
  max-width: 256px;
  background-color: var(--prim-color)
}

/* Smaller Screen rules */
@media only screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }

  #hero .container .bottom .heading {
    font-size: 4rem;
    margin-top: 1rem;
  }

  #hero .container .bottom .intro {
    margin-top: 1rem;
  }

  #hero {
    padding-top: 1rem;
  }

  .buttons {
    gap: 1rem;
  }
}

/* Branches Section */

#branches{
  padding: 8rem 0;
  margin: 2rem 0;
  background-color: white;
}

#branches .all-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

#branches .all-items .item {
  padding: 2rem;
  margin: 3rem 2rem;
  max-width: 350px;
  flex: 1;
  align-self: stretch;
}


#branches .item .icon {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  background-color: yellow;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#branches .item .item-heading {
  font-weight: 500;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.5rem;
  color: var(--prim-color);
}

#branches .item .item-desc {
  color: var(--tert-color);
  font-size: 2rem;
  font-weight: 500;
  text-align: justify;
}

#branches .item:nth-child(1) .icon {
  background-color: #773C76;
}
#branches .item:nth-child(2) .icon {
  background-color: #BF5377;
}
#branches .item:nth-child(3) .icon {
  background-color: #F17C69;
}

#branches .item:nth-child(1):hover{
  background-color: #AD6EAA;
  box-shadow: 0 0 20px #773C76;
  color: white;
}
#branches .item:nth-child(2):hover{
  background-color: #FA88AB;
  border-color: #BF5377;
  color: white;
}
#branches .item:nth-child(3):hover{
  background-color: #FFCCB5;
  border-color: #F17C69;
  color: white;
}

@media only screen and (max-width: 1024px) {
  #branches .all-items{
    flex-direction: column;
    text-align: center;
  }
  #branches .all-items .item .item-desc{
    text-align: center;
  }
  #branches .item .icon {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

/* About Section */

#about{
  padding: 15rem 0;
}

#about .wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#about .card{
  padding: 2rem;
  flex: 3;
  position: relative;
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
}

#about .card .img-wrapper{
  box-shadow: 0px 0px 20px var(--tert-color);
  position: relative;
  border-radius: 5%;
  min-width: 1;
  min-height: 1;
  overflow: hidden;
}

#about .card .img-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.82) 12%, rgba(255,255,255,0) 39%);
  width: 100%;
  height: 100%;
}


#about .about-text {
  flex: 7;
  background-color: var(--card-bg);
  padding: 3rem;
}

#about .about-text .buttons {
  flex-direction: row;
  align-items: flex-start;
  justify-content:start;
}

#about .card .card-title{
  position: absolute;
  bottom: 8rem;
  left: 4rem;
  color: white;
  font-size: 3rem;
}


#about .card .card-desc{
  position: absolute;
  bottom: 6rem;
  left: 4rem;
  color:whitesmoke;
  font-size: 1.5rem;
}

#about .about-description {
  font-size: 2rem;
  color: var(--tert-color);
  text-align: justify;
}

#about .about-heading {
  font-size: 3.5rem;
  color:  var(--prim-color);
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1024px) {
  #about .wrapper {
    flex-direction: column;
  }
  #about .about-text {
    text-align: center;
  }

  #about .about-description {
    text-align: center;
  }

  #about .about-text .buttons{
    flex-direction: column;
  }

  #about .about-text .buttons a{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

/* Project Section*/

#projects{
  padding: 10rem 0;
}

#projects .buttons{
  flex-direction: row;
}

#projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15rem;
}

#projects .item:nth-child(even){
  flex-direction: row-reverse;
}

#projects .item .left {
  flex: 1;
}

#projects .item .right {
  flex: 1;
  margin-left: -7rem;
  padding: 5rem 2rem;
  z-index: 2;
}

#projects .item:nth-child(even) .right{
  margin-left: 0;
  margin-right: -7rem;
}

#projects .item .left .img{
  height: 500px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px var(--tert-color);
}

#projects .item .left .img img{
  object-fit: cover;
  transition: .4s ease transform;
}

#projects .item:hover .left .img img{
  transform: scale(1.1);
}

#projects .item .right .project-title{
  color: var(--prim-color);
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  margin-bottom: 1rem;
}

#projects .item .right .project-subtitle{
  color: var(--sec-gray);
  font-size: 2rem;
  margin-bottom: 2rem;
}

#projects .item .right .project-desc{
  color: var(--tert-color);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#projects .item .right .buttons .external-link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#projects .item .right .buttons .external-link svg{
  width: 2.5rem;
}

@media only screen and (max-width: 768px){
  #projects .item {
    flex-direction: column;
    margin-bottom: 7rem;
  }
  #projects .item .left {
    width: 100%;
  }
  #projects .item .right {
    width: 90%;
    margin: 0 auto;
    margin-top: -100px;
  }

  #projects .item:nth-child(even) {
    flex-direction: column;
  }
  #projects .item:nth-child(even) .left {
    width: 100%;
  }
  #projects .item:nth-child(even) .right {
    width: 90%;
    margin: 0 auto;
    margin-top: -100px;
  }
}

@media only screen and (max-width: 395px) {
  #projects .item .right .buttons {
    flex-direction: column;
  }
  #projects .item .right .buttons a{
    width: 100%;
    text-align: center;
  }
}

/*Footer Section*/
#footer{
  background-color: var(--prim-color);
  color: whitesmoke;
  padding: 10rem 0 5rem 0;
  box-shadow: 0px 0px 20px var(--tert-color);
}

#footer footer {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

#footer footer .col-1{
  flex: 3;
}
#footer footer .col-2,
#footer footer .col-3{
  flex: 2;
}
#footer footer .col-4{
  flex: 1
}

#footer footer .col-1 .logo img{
  max-width: 9rem;
  margin-bottom: 2rem;
}

#footer footer .col-1 p{
  font-size: 1.5rem;
}

#footer footer .column-heading {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.5em;
}

#footer footer ul{
  list-style: none;
}

#footer footer ul li{
  border-radius: 4px;
}

#footer footer ul li a{
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.7rem;
  padding: .5rem;
}

#footer footer ul li:hover a{
  color: var(--tert-color);
}

#footer footer ul li:hover{
  background-color: white;
}

#footer footer .col-4 ul{
  display: flex;
  flex-wrap: wrap;
}

#footer footer .col-4 ul li a{
  min-width: 5rem;
}

@media only screen and (max-width: 768px){
  #footer footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #footer footer .col-1,
  #footer footer .col-2,
  #footer footer .col-3,
  #footer footer .col-4 {
    width: 100%;
    margin-bottom: 3rem;
  }

  #footer footer .col-4 ul{
    width: fit-content;
    margin: 0 auto;
  }
}

/* Copyright style */
#copyright{
  font-family: "Roboto Mono", sans-serif;
  padding: 1rem 0;
  background-color: var(--sec-dark-blue);
  color: white;
  font-size: 1.7rem;
  text-align: center;
  box-shadow: 0px 0px 20px #ffffff1a;
}