@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');

/* Vars */

:root {
  --prim-color: #222C5F;
  --sec-color: #9AB044;
  --tert-color: #1C57CB;
  --bg-color: #8DC4FC;
}


/* Global Styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 10px;
}

body{
  background-color: var(--bg-color);
}

img{
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

.button-primary {
  display: inline-block;
  background-color: var(--sec-color);
  color: white;
  font-size: 2rem;
  padding: .5rem 1.5rem;
  border-radius: 0.5rem 1.5rem;
}

.buttons{
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons svg {
  width: 4rem;
}


/* Hero Section */

#hero {
  height: 100vh;
  width: 100%;
  padding-top: 7rem;
}

#hero .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

#hero .container .top{
  flex: 8;
  padding-bottom: 2rem;
}
#hero .container .bottom{
  flex: 6;
}

#hero .container img {
  border-radius: 50%;
  border-style: solid;
  border-width: 1rem;
  border-color: var(--prim-color);
  width: 30%;
  background-color: var(--prim-color)
}

#hero .bottom .flavortext {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sec-color);
  text-transform: uppercase;
  margin: 0.5rem;
}

#hero .bottom .heading {
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: var(--prim-color);
}

#hero .bottom .intro {
  margin-top: 3rem;
  max-width: 400px;
  font-size: 1.8rem;
  color: var(--tert-color);
}

